<style type="text/css">
 body
  {
    *background-color: #AAAAFF;
    color: white;
    font-family: Helvetica;
    font-size: 16px;
  }


}
  div  {
  	font-size: 20px;
  	background-color:#DD6B1A;
  	opacity:50;
  
  }

   div p{
  	font-size: 20px;
  	background-color:#AAAAFF;

  }
  strong
  {
    background-color: #FFAAAA;
  }

 
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
 
</style>